<kirby-button shape="round" @click="$refs.dialog.open()">Open Dialog</kirby-button>

<kirby-dialog ref="dialog">
  <h1 slot="header">Some dialog action</h1>
  <kirby-txt slot="body">
    Do you really want to delete the user:<br> <strong>bastian? </strong>
  </kirby-txt>
  <kirby-buttons slot="footer">
    <kirby-button @click="$refs.dialog.close()">Cancel</kirby-button>
    <kirby-button @click="$refs.dialog.close()" type="negative">Delete</kirby-button>
  </kirby-buttons>
</kirby-dialog>
