@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #efefef;
}

html,
body {
  color: #282c34;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
