<kirby-field>
  <template slot="label">
    <label>Title</label>
  </template>
  <template slot="options">
    {{render '@buttongroup'}}
  </template>
  <template slot="content">
    {{render '@input'}}
  </template>
  <template slot="help">
    <p>This is the help text for the title field</p>
  </template>
</kirby-field>