<kirby-autocomplete 
  ref="autocomplete"
  url="/mock/data/countries.json" 
  :map="{value: 'name', text: 'name'}" 
  :limit="5" icon="globe" 
  @select="function(value) { 
    $refs.autocomplete.clear(); 
    $refs.console.innerHTML = 'Result: ' + value.text;
  }">
</kirby-autocomplete>

<div ref="console"></div>