<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <title>Preview Layout</title>

  <link rel="stylesheet" href="{{ path '/css/fontawesome.css' }}">
  <link rel="stylesheet" href="{{ path '/css/panel.css' }}">

</head>
<body>

  <main>{{{ yield }}}</main>

  <script src="{{ path '/js/build.js' }}"></script>

</body>
</html>