<kirby-menu>
  <section class="kirby-menu-section">
    <kirby-button link="" icon="preview">example.com</kirby-button>
  </section>
  <section class="kirby-menu-section">
    <kirby-button link="/" icon="dashboard">Dashboard</kirby-button>
    <kirby-button link="/pages" icon="page">Site</kirby-button>
    <kirby-button link="/settings" icon="cog">Settings</kirby-button>
    <kirby-button link="/users" icon="users">Users</kirby-button>
  </section>
  <section class="kirby-menu-section kirby-menu-section-bottom">
    <kirby-button link="/account" icon="account">Your account</kirby-button>
    <kirby-button link="/logout" icon="logout">Logout</kirby-button>
  </section>
</kirby-menu>
