<kirby-table>
  <kirby-table-header>
    <kirby-table-header-cell>Text</kirby-table-header-cell>
    <kirby-table-header-cell>Link</kirby-table-header-cell>
    <kirby-table-header-cell type="number">Number</kirby-table-header-cell>
    <kirby-table-header-cell type="button"></kirby-table-header-cell>
    <kirby-table-header-cell type="button"></kirby-table-header-cell>
  </kirby-table-header>

  <kirby-table-body>
    <kirby-table-row>
      <kirby-table-cell>Text</kirby-table-cell>
      <kirby-table-cell><a href="">Link</a></kirby-table-cell>
      <kirby-table-cell type="number">123</kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="pencil">edit</kirby-button>
      </kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="trash-o">delete</kirby-button>
      </kirby-table-cell>
    </kirby-table-row>

    <kirby-table-row>
      <kirby-table-cell>Text</kirby-table-cell>
      <kirby-table-cell><a href="">Link</a></kirby-table-cell>
      <kirby-table-cell type="number">123</kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="pencil">edit</kirby-button>
      </kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="trash-o">delete</kirby-button>
      </kirby-table-cell>
    </kirby-table-row>

  </kirby-table-body>
</kirby-table>