<kirby-table>
  <kirby-table-header>
    <kirby-table-header-cell type="image"></kirby-table-header-cell>
    <kirby-table-header-cell>Filename</kirby-table-header-cell>
    <kirby-table-header-cell>Type</kirby-table-header-cell>
    <kirby-table-header-cell align="right">Size</kirby-table-header-cell>
    <kirby-table-header-cell></kirby-table-header-cell>
    <kirby-table-header-cell></kirby-table-header-cell>
  </kirby-table-header>

  <kirby-table-body>
    <kirby-table-row>
      <kirby-table-cell type="image">
        <img src="assets/images/demo/desk.jpg">
      </kirby-table-cell>
      <kirby-table-cell><a href="">desk.jpg</a></kirby-table-cell>
      <kirby-table-cell type="info">image/jpeg</kirby-table-cell>
      <kirby-table-cell type="info" align="right">1.2 MB</kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="pencil"></kirby-button>
      </kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="trash-o"></kirby-button>
      </kirby-table-cell>
    </kirby-table-row>

    <kirby-table-row>
      <kirby-table-cell type="image">
        <img src="assets/images/demo/landscape.jpg">
      </kirby-table-cell>
      <kirby-table-cell><a href="">landscape.jpg</a></kirby-table-cell>
      <kirby-table-cell type="info">image/jpeg</kirby-table-cell>
      <kirby-table-cell type="info" align="right">3.4 MB</kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="pencil"></kirby-button>
      </kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-button icon="trash-o"></kirby-button>
      </kirby-table-cell>
    </kirby-table-row>

  </kirby-table-body>
</kirby-table>
