$layers: (
  dropdown:      500,
  dialog:        400,
  navigation:    300,
  content:       200,
  background:    100
);

@function z-index($key, $add: 0) {
  @return map-get($layers, $key) + $add;
}
