/**
 * Shared SCSS variables, mixins etc.
 *
 * NOTE:
 * avoid css output at all costs, because it would be repeated everytime this
 * file is imported. Use only for mixins, variables and functions.
 */

@import 'styles/z-index.scss';
@import 'styles/fixme.scss';

/**
 * Colors
 */
$color-black: #000;
$color-white: #fff;
$color-dark: #282c34;
$color-dark-grey: #777;
$color-light: #efefef;
$color-light-grey: #999;
$color-background: $color-light;
$color-positive: #c2c77b;
$color-focus: #92b2ca;
$color-notice: #f4cf86;
$color-negative: #d77c79;
$color-border: #dedede;
$color-backdrop: rgba(0,0,0, .6);

/**
 * Typography
 */
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 28px;

$font-family-sans: 'Roboto';
$font-family-mono: 'Roboto Mono';

/**
 * Misc
 */
$border-radius: 3px;
$box-shadow: rgba(0,0,0, .2) 0 2px 10px;