/**
 * Shared SCSS variables, mixins etc.
 *
 * NOTE:
 * avoid css output at all costs, because it would be repeated everytime this
 * file is imported. Use only for mixins, variables and functions.
 */

$layers: (
  notification: 700,
  dropdown: 600,
  dialog: 500,
  focusmode: 400,
  navigation: 300,
  content: 200,
  background: 100
);

@function z-index($key, $add: 0) {
  @return map-get($layers, $key) + $add;
}

/**
 * Colors
 */
$color-black: #000;
$color-white: #fff;
$color-dark: #16171a;
$color-dark-grey: #777;
$color-light: #efefef;
$color-light-grey: #999;
$color-background: $color-light;
$color-positive: #5d800d;
$color-positive-on-dark: #a7bd68;
$color-focus: #4271ae;
$color-focus-on-dark: #81a2be;
$color-notice: #f5871f;
$color-notice-on-dark: #de935f;
$color-negative: #c82829;
$color-negative-on-dark: #d16464;
$color-border: #dedede;
$color-backdrop: rgba($color-dark, 0.6);
$color-inset: #ebebeb;

/**
 * Typography
 */
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 28px;

$font-family-sans: "Roboto";
$font-family-mono: "Roboto Mono";

/**
 * Misc
 */
$border-radius: 1px;

/**
 * Shadows
 */
$box-shadow: rgba($color-dark, 0.2) 0 2px 10px;
$box-shadow-card: rgba($color-dark, 0.05) 0 2px 5px;
$box-shadow-inset: rgba($color-dark, 0.025) 0 5px 5px inset;
$box-shadow-focus: rgba($color-focus, 0.25) 0 0 0 3px;
$box-shadow-focus-full: $color-focus 0 0 0 2px,
  rgba($color-focus, 0.2) 0 0 0 2px;

/**
 * Breakpoints
 */
$breakpoint-small: 30em;
$breakpoint-menu: 45em;
$breakpoint-medium: 67.5em;

/**
 * Widths
 */
$width-menu: 12.5rem;

/**
 * Focus Ring
 */
@mixin focus-ring {
  outline: none;
  box-shadow: $box-shadow-focus-full;
  border-radius: $border-radius;
}

@mixin highlight-tabbed {
  outline: none;

  &[data-tabbed] {
    @include focus-ring;
  }
}
