<kirby-table>

  <kirby-table-body>
    <kirby-table-row>
      <kirby-table-cell type="icon">
        <kirby-icon type="page"></kirby-icon>
      </kirby-table-cell>
      <kirby-table-cell>Project A</kirby-table-cell>
      <kirby-table-cell type="info" width="auto"><a href="">/projects/project-a</a></kirby-table-cell>
      <kirby-table-cell type="info" align="right" width="auto">1</kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-dropdown>
          <kirby-button icon="cog" @click="$refs.dropdownA.toggle()"></kirby-button>
          <kirby-dropdown-content align="right" options="data/options.json" ref="dropdownA"></kirby-dropdown-content>
        </kirby-dropdown>
      </kirby-table-cell>
    </kirby-table-row>

    <kirby-table-row>
      <kirby-table-cell type="icon">
        <kirby-icon type="page"></kirby-icon>
      </kirby-table-cell>
      <kirby-table-cell>Project B</kirby-table-cell>
      <kirby-table-cell type="info" width="auto"><a href="">/projects/project-b</a></kirby-table-cell>
      <kirby-table-cell type="info" align="right" width="auto">2</kirby-table-cell>
      <kirby-table-cell type="button">
        <kirby-dropdown>
          <kirby-button icon="cog" @click="$refs.dropdownB.toggle()"></kirby-button>
          <kirby-dropdown-content align="right" options="data/options.json" ref="dropdownB"></kirby-dropdown-content>
        </kirby-dropdown>
      </kirby-table-cell>
    </kirby-table-row>

  </kirby-table-body>
</kirby-table>
