<kirby-table>

  <kirby-table-header>
    <kirby-table-header-cell>Text</kirby-table-header-cell>
    <kirby-table-header-cell width="auto">Link</kirby-table-header-cell>
    <kirby-table-header-cell type="number">Number</kirby-table-header-cell>
  </kirby-table-header>

  <kirby-table-body>
    <kirby-table-row>
      <kirby-table-cell>Text</kirby-table-cell>
      <kirby-table-cell width="auto"><a href="">google.com</a></kirby-table-cell>
      <kirby-table-cell type="number">123</kirby-table-cell>
    </kirby-table-row>

    <kirby-table-row>
      <kirby-table-cell>Text</kirby-table-cell>
      <kirby-table-cell width="auto"><a href="">apple.com</a></kirby-table-cell>
      <kirby-table-cell type="number">123</kirby-table-cell>
    </kirby-table-row>

  </kirby-table-body>

</kirby-table>
