<kirby-page-view class="kirby-project-view" page="projects/project-a">

  <kirby-grid gutter="large">
    <kirby-column width="1/4">

      <section>
        <kirby-headline>Cover</kirby-headline>
        <kirby-files layout="cards" page="projects/project-a" :limit="1"></kirby-files>
      </section>

      <section>
        <kirby-headline>Gallery</kirby-headline>
        <kirby-files page="projects/project-a" :offset="1"></kirby-files>
      </section>

    </kirby-column>
    <kirby-column width="1/2">

      <kirby-fieldset :fields="[
          {
            name: 'intro',
            label: 'Introduction',
            type: 'textarea'
          },
          {
            name: 'text',
            id: 'text',
            label: 'Text',
            type: 'textarea'
          }
        ]" :values="{
          intro: 'This is a nice introduction',
          text: 'Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.'
        }" />

    </kirby-column>

    <kirby-column width="1/4">

      <kirby-fieldset :fields="[
          {
            name: 'year',
            label: 'Year',
            type: 'text'
          },
          {
            name: 'client',
            label: 'Client',
            type: 'text'
          },
          {
            name: 'category',
            label: 'Category',
            type: 'tags'
          }
        ]" :values="{
          year: '2017',
          category: ['design', 'art'],
          client: 'Hipster Inc.'
        }" />

    </kirby-column>

  </kirby-grid>

</kirby-view>
